<a href="https://colab.research.google.com/github/donib-irakihda/fusemachines-ai-fellowship/blob/main/missing_data_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data

--2022-05-25 14:23:38--  https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32218 (31K) [application/x-httpd-php]
Saving to: ‘crx.data’

crx.data            100%[===================>]  31.46K  --.-KB/s    in 0.01s

2022-05-25 14:23:38 (2.53 MB/s) - ‘crx.data’ saved [32218/32218]

In [ ]:
import pandas as pd
df = pd.read_csv('crx.data', header=None)
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [ ]:
df.shape

(690, 16)

In [ ]:
col = ['A' + str(i) for i in range(1,17)]
df.columns = col
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [ ]:
df.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [ ]:
df.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [ ]:
df1 = pd.read_csv('crx.data', names= col, na_values = ['?'])
df1.head(2)

  A1     A2    A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.00  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.46  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +

In [ ]:
df1.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14    float64
A15      int64
A16     object
dtype: object

In [ ]:
df1.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [ ]:
x = df1.select_dtypes(include=['float64', 'int64'])
y = df['A16']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=2020)

In [ ]:
x_train.isnull().sum()

A2     10
A3      0
A8      0
A11     0
A14    12
A15     0
dtype: int64

In [ ]:
x_test.isnull().sum()

A2     2
A3     0
A8     0
A11    0
A14    1
A15    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import BayesianRidge
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer_train = IterativeImputer(estimator = BayesianRidge(), max_iter=10, random_state=0)
imputer_test = IterativeImputer(estimator = BayesianRidge(), max_iter=10, random_state=0)

In [ ]:
imputer_train.fit(x_train)
imputer_test.fit(x_test)

IterativeImputer(estimator=BayesianRidge(), random_state=0)

In [ ]:
imputed_x_train = pd.DataFrame(imputer_train.transform(x_train), columns=x_train.columns)
imputed_x_test = pd.DataFrame(imputer_test.transform(x_test), columns=x_test.columns)

In [ ]:
imputed_x_train.head()

      A2     A3      A8  A11    A14     A15
0  42.50  4.915   3.165  0.0   52.0  1442.0
1  13.75  4.000   1.750  2.0  120.0  1000.0
2  47.42  3.000  13.875  2.0  519.0  1704.0
3  16.92  0.500   0.165  6.0  240.0    35.0
4  38.58  5.000  13.500  0.0  980.0     0.0

In [ ]:
imputed_x_test.head()

      A2     A3    A8   A11    A14    A15
0  30.08   1.04  0.50  10.0  132.0   28.0
1  21.17   0.25  0.25   0.0  280.0  204.0
2  51.83   3.00  1.50   0.0  180.0    4.0
3  27.83   1.50  2.00  11.0  434.0   35.0
4  44.25  11.00  1.50   0.0    0.0    0.0

In [ ]:
imputed_x_train.isnull().sum()
imputed_x_test.isnull().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64